<lib-header></lib-header>
<mat-tab-group [(selectedIndex)]="selectedIndex" (selectedTabChange)="yourFn($event)" [disablePagination]="true" animationDuration="2000ms">
  <mat-tab class="hide-tab" [ngClass]="{'hide-tab' : selectedIndex > 0 }" label="Atrás">
    <lib-person-view  [name]="'The mighty crow'" [urlPhoto]="'https://pbs.twimg.com/media/FkRck1aWYAA7Yl4?format=png&name=large'"></lib-person-view>
  </mat-tab>
  <mat-tab [ngClass]="{'hide-tab' : true }" label="Siguiente">
    <lib-person-view  [name]="'The mighty crow 2'" [urlPhoto]="'https://pbs.twimg.com/media/FkRck1aWYAA7Yl4?format=png&name=large'"></lib-person-view>
  </mat-tab>
  <mat-tab [ngClass]="{'hide-tab' : selectedIndex <= 1 }" label="3">
    <lib-person-view [name]="'The mighty crow 3'" [urlPhoto]="'https://pbs.twimg.com/media/FkRck1aWYAA7Yl4?format=png&name=large'"></lib-person-view>
  </mat-tab>
</mat-tab-group>